<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <h1>404 :(</h1>
  <h2>It looks like this page doesn't exist.</h2>
  <button><a href="/">Back to home page</a></button>
</body>
</html>