<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <h1>Congratulations!</h1>
  <h1>Your grade average is <%= result %>.</h1>
  <button><a href="/">Back to home page</a></button>
</body>
</html>